body {
    background-image: url('../../assets/images/background.png');
    background-color: rgb(212, 238, 229);

    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;

    align-items: center;
    font-family: sans-serif;
}

#pkmn-logo {
    width: 400px;

    margin: 20px;
}